doctype html
html(lang='es')
    head
        title SIGCAPDAM - Usuarios
        include ../includes/head.jade
        style(type="text/css").
            .dataTables_wrapper .dataTables_length select{
                width: 5rem;
            }
            .dataTables_length{
                margin-left: 2rem;
            }
            .dataTables_filter{
                margin-right: 1rem;
                margin-bottom: 1rem;
                margin-left: 1rem;
            }
            #categoriesTable_wrapper{
                margin-top: .7rem;
                margin-bottom: .5rem;
            }

    body(class='bg-white dark:bg-gray-900')
        include ../includes/sidebar.jade
        block content

        main.ml-auto(class='w-[calc(100%-3.73rem)]')
            div(class='2xl:w-auto mx-auto space-y-6')
                div(class="h-16 items-center border-b border-gray-700 flex justify-between px-6 lg:px-12")
                    //- Coordenadas del mouse
                    div(class='flex items-center lg:text-xl md:text-md sm:text-sm')
                        span(class='text-gray-500 dark:text-gray-200') Ajustes de la aplicación
                    //- span(class='text-left text-white') SIGCAPDAM
                    //- button(type="button" id="createCategoryModalButton" data-modal-target="createCategoryModal" data-modal-toggle="createCategoryModal" class="flex items-center justify-center text-white bg-sky-500 hover:bg-sky-800 focus:ring-4 focus:ring-sky-300 font-medium rounded-full text-sm px-4 py-2 dark:bg-sky-600 dark:hover:bg-sky-500 focus:outline-none dark:focus:ring-sky-800")
                    //-             svg(class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true")
                    //-                 path(clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z")
                    //-             | Nuevo usuario
                div(class='px-6 h-[calc(55rem)]')
                    //- CRUD para gestionar las capas cargadas
                    section(class="px-3 h-auto w-full rounded-2xl bg-gray-50 dark:bg-gray-900 antialiased")
                        div(class="w-full h-full")
                            div(class="bg-white dark:bg-gray-800 shadow-md sm:rounded-lg overflow-hidden w-full h-full")

        include ../includes/footer.jade