script(src='./assets/custom/js/tailwindcss.js')
script(src='./assets/jquery/jquery.min.js')
script(src='./assets/sweetalert2/sweetalert2.all.min.js')
script(src='./assets/jstree/jstree.min.js')
script(src='./assets/openlayers/ol.js')
script(src='./assets/flowbite/flowbite.min.js')