script(src='../assets/custom/js/tailwindcss.js')
script(src='../assets/jquery/jquery.min.js')
script(src='../assets/sweetalert2/sweetalert2.all.min.js')
script(src='../assets/jstree/jstree.min.js')
script(src='../assets/openlayers/ol.js')
script(src='../assets/openlayers/ol-ext.min.js')
script(src='../assets/flowbite/flowbite.min.js')
script(src='../assets/dataTables/jquery.dataTables.min.js')
script(src='../assets/fonts/font-awesome/fontawesome.js')
script(src='../assets/tagify/tagify.js')
script(src='../assets/tagify/tagify.polyfills.min.js')
script.
    $('#logoutButton').on('click', function () {
        fetch('/api/v1/auth/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (response.ok) {
                return Swal.fire({
                    title: "Logout Successful",
                    text: "You have been logged out successfully.",
                    icon: "success",
                });
            }
            else {
                throw new Error('Logout failed.');
            }
        })
        .then(() => {
            window.location.reload();
        })
        .catch(error => {
            Swal.fire("Logout Failed", "There was an error during logout.", "error");
        });
    });