script(src='./assets/custom/js/tailwindcss.js')
//- script(src='./assets/custom/js/tailwindcss.5')
script(src='./assets/jquery/jquery.min.js')
script(src='./assets/sweetalert2/sweetalert2.all.min.js')
script(src='https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js")
//- script(src='./assets/jstree/jstree.min.js')
//- script(src='./assets/openlayers/ol.js')