//- script(src='./assets/bootstrap/js/bootstrap.bundle.min.js')
script(src='./assets/jquery/jquery.min.js')
script(src='./assets/sweetalert2/sweetalert2.all.min.js')
script(src='https://cdn.tailwindcss.com')
script(src='./assets/custom/js/tailwind.config.js')