head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='icon' href='../assets/img/capdam.ico')

  link(rel="stylesheet" href="../assets/flowbite/flowbite.min.css")
  link(rel="stylesheet" href="../assets/fonts/bootstrap-icons/bootstrap-icons.css")
  link(rel='stylesheet', href='../assets/custom/css/style.css')
  link(rel='stylesheet', href='../assets/sweetalert2/sweetalert2.min.css')
  link(rel='stylesheet', href='../assets/fonts/icomoon/style.css')
  link(rel='stylesheet', href='../assets/fonts/poppins/poppins.css')
  link(rel="stylesheet" href="../assets/openlayers/ol.css")
  link(rel="stylesheet" href="../assets/openlayers/ol-ext.min.css")
  link(rel="stylesheet" href="../assets/dataTables/jquery.dataTables.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css")