head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='icon' href='./assets/img/capdam.ico')
  link(rel='stylesheet', href='./assets/custom/css/style.css')
  //- link(rel='stylesheet', href='./assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='./assets/sweetalert2/sweetalert2.min.css')
  link(rel='stylesheet', href='./assets/fonts/icomoon/style.css')
  link(rel="stylesheet" href="./assets/custom/css/output.css")
  link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
  //- link(rel="stylesheet" href="./assets/jstree/style.min.css")
  //- link(rel="stylesheet" href="./assets/openlayers/ol.css")