//- Ejemplo de dashboard
doctype html
html(lang='en')
    include ./includes/head.jade
    //- link(rel='stylesheet' type='text/css' href='/assets/custom/css/login.css')
    title Dashboard 
    body
        //- Your dashboard content goes here

        //- Example button to trigger SweetAlert2
        button#show-sweet-alert Click to Show SweetAlert
        //- Include SweetAlert2 initialization script
        script.
            document.getElementById('show-sweet-alert').addEventListener('click', function() {
                Swal.fire({
                    title: 'Hello, SweetAlert2!',
                    text: 'This is a SweetAlert2 dialog.',
                    icon: 'success',
                });
            });
    include ./includes/footer.jade
