doctype html
html(lang='es')
    include ./includes/head.jade
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css")
    title Iniciar sesión
    body(class='bg-gray-900')
        #loadingSpinner(class='fixed top-0 left-0 w-screen h-screen flex justify-center items-center bg-white bg-opacity-100 z-50')
            div(class="animate-spin rounded-full border-t-4 border-blue-500 border-solid h-12 w-12")
        section.bg-gray-50(class='dark:bg-gray-900')
            .flex.flex-col.items-center.justify-center.px-6.py-8.mx-auto(class='bg-gray-900 dark:bg-gray-700 md:h-screen lg:py-0')
                a.flex.items-center.mb-6.text-2xl.font-semibold.text-gray-900(href='#' class='dark:text-white')
                    img.w-8.h-8.mr-2(src='/assets/img/capdam.ico' alt='logo')
                    p.text-white
                        | SIGCAPDAM
                .w-full.bg-white.rounded-lg.shadow(class='dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700')
                    .p-6.space-y-4(class='md:space-y-6 sm:p-8')
                        h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900(class='md:text-2xl dark:text-white')
                            | Iniciar sesión
                        form.space-y-4(name='login-form' id='login-form' class='md:space-y-6' action='/api/v1/auth/login' method='POST')
                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(for='email' class='dark:text-white') Correo
                                input#email(type='email' name='email' class='bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')
                            div
                                label.block.mb-2.text-sm.font-medium.text-gray-900(name='password' class='dark:text-white' for='password') Contraseña
                                input#password(type='password' name='password' placeholder='••••••••••' class='bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')
                            div#login-message(class='text-sm text-red-500 font-medium')
                            .flex.items-center.justify-between
                                .flex.items-start
                                    .flex.items-center.h-5
                                        input(type='checkbox' class='w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-sky-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-sky-600 dark:ring-offset-gray-800' aria-describedby='remember' id="rememberMe" name="rememberMe")
                                    .ml-3.text-sm
                                        label.text-gray-500(for='remember' class='dark:text-gray-300') Mantener la sesión iniciada
                            button.w-full.text-white.bg-primary-600.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='bg-gray-700  hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-sky-300 py-2.5 dark:bg-sky-600 dark:hover:bg-primary-700 dark:focus:ring-sky-800') Entrar
    include ./includes/footer.jade
    script(src='https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js")
    script.
        document.addEventListener('DOMContentLoaded', function () {

            const form = document.getElementById('login-form');
            const loadingSpinner = document.getElementById('loadingSpinner');
            const message = document.getElementById('login-message');
            const data = sessionStorage.getItem('data');

            // Hide spinner on page load after 2 seconds
            setTimeout(() => {
                loadingSpinner.style.display = 'none';
            }, 1000);

            form.addEventListener('submit', async function (event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const rememberMe = document.getElementById('rememberMe').checked;
            
            console.log(email, password, rememberMe);

            try {
                const response = await fetch('/api/v1/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password, rememberMe }),
                });

                const data = await response.json();

                if (response.ok) {
                // Handle successful login
                const message = document.getElementById('login-message');
                message.classList.add('text-green-500', 'font-medium');
                message.textContent = 'Iniciando sesión...';

                // Redirect to the home page immediately
                window.location.href = '/home';
                } else {
                // Handle non-OK responses (e.g., 401 Unauthorized)
                const errorMessage = await response.json();
                throw new Error(errorMessage.message || 'Error during login.');
                }
            } catch (error) {
                // Handle unexpected errors
                console.error(error);
                const message = document.getElementById('login-message');
                message.textContent = 'Error during login. Please try again.';
            }

            const loginMessage = document.getElementById('login-message');
            loginMessage.style.display = 'block';
            });

        });