doctype html
html(lang='es')
    head
        title SIGCAPDAM - Ajustes
        include ./includes/head.jade
        style.
            @media (min-width: 640px) {
                .sm\:grid-cols-2 {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }

            @media (min-width: 768px) {
                .md\:grid-cols-3 {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
            }

            @media (min-width: 1024px) {
                .lg\:grid-cols-4 {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }
            }
    body(class='bg-white dark:bg-gray-900')
        include ./includes/sidebar.jade
        block content
        main.ml-auto(class='w-[calc(100%-3.73rem)]')
            div(class='2xl:w-auto mx-auto space-y-6')
                div(class="h-16 items-center border-b border-gray-700 flex justify-between px-6 lg:px-12")
                    div(class='flex items-center text-xl')
                        span(class='text-gray-500 dark:text-gray-200') Ajustes
            div(class='px-6 h-[calc(55rem)]')
                div(class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pt-5')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/categories')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Categorías
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar las categorías de las capas.
                        a(href='settings/categories' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-700 dark:focus:ring-blue-800')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/roles')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Roles
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar los roles de los usuarios.
                        a(href='settings/roles' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/permissions')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Permisos
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar los permisos de los usuarios.
                        a(href='settings/permissions' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/directions')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Direcciones
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar las direcciones de CAPDAM
                        a(href='settings/directions' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/departments')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Departamentos
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar los departamentos pertenecientes a cada dirección.
                        a(href='settings/departments' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/routes')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Rutas y Claves Catastrales
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar las rutas y claves catastrales.
                        a(href='settings/routes' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
                    div(class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700')
                        a(href='settings/page-settings')
                            h5(class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white') Ajustes de la Pagina
                        p(class='mb-3 font-normal text-gray-700 dark:text-gray-400') Gestionar los ajustes de la pagina.
                        a(href='settings/page-settings' class='inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-sky-500 rounded-lg hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-blue-300')
                            | Ir
                            svg(class='rtl:rotate-180 w-3.5 h-3.5 ms-2' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 10')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
    include ./includes/footer.jade