body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: black; */
}

a {
  color: #00B7FF;
}

/* Add transition to .compact-nav */
.compact-nav {
  transition: width 0.4s ease-in-out;
}
