body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: black; */
}

a {
  color: #00B7FF;
}

/* Add transition to .compact-nav */
.compact-nav {
  transition: width 0.4s ease-in-out;
}

#layersTable_length select {
  background:  rgb(75 85 99);
}

#usersTable_length select {
  background:  rgb(75 85 99);
}

#categoriesTable_length select {
  background:  rgb(75 85 99);
}

#rolesTable_length select {
  background:  rgb(75 85 99);
}

#permissionsTable_length select {
  background:  rgb(75 85 99);
}

#routesTable_length select {
  background:  rgb(75 85 99);
}

#permissionsTable_length select {
  background:  rgb(75 85 99);
}
